{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:400%2C700" rel="stylesheet">

    
	<!-- This site is optimized with the Yoast SEO plugin v14.4.1 - https://yoast.com/wordpress/plugins/seo/ -->
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
	<link rel="canonical" href="https://www.glassdoor.com/about-us/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="About Us - Glassdoor About Us" />
	<meta property="og:description" content="Our Mission To help people everywhere find a job and company they love. Our Values We are transparent. We are open and honest. We share information – the good and the bad – so we can continuously learn, collaborate and make the right decisions. See more about our commitment to transparency and what we’ve shared [&hellip;]" />
	<meta property="og:url" content="https://www.glassdoor.com/about-us/" />
	<meta property="og:site_name" content="Glassdoor About Us" />
	<meta property="article:modified_time" content="2020-11-16T22:39:04+00:00" />
	<meta property="og:image" content="https://www.glassdoor.com/about-us//app/uploads/sites/2/2018/10/logo-1200x630.png" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta name="twitter:card" content="summary_large_image" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://www.glassdoor.com/about-us/#website","url":"https://www.glassdoor.com/about-us/","name":"Glassdoor About Us","description":"","potentialAction":[{"@type":"SearchAction","target":"https://www.glassdoor.com/about-us/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"WebPage","@id":"https://www.glassdoor.com/about-us/#webpage","url":"https://www.glassdoor.com/about-us/","name":"About Us - Glassdoor About Us","isPartOf":{"@id":"https://www.glassdoor.com/about-us/#website"},"datePublished":"2020-02-06T08:02:16+00:00","dateModified":"2020-11-16T22:39:04+00:00","inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://www.glassdoor.com/about-us/"]}]}]}</script>
	<!-- / Yoast SEO plugin. -->


    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
    <link rel='dns-prefetch' href='//ajax.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='wp-block-library-css'  href='https://www.glassdoor.com/about-us/wp-includes/css/dist/block-library/style.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='global-styles-css'  href='https://www.glassdoor.com/about-us//app/themes/gd-aboutUs/dist/gd-styles.bundle.css?v=1605825390' type='text/css' media='all' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.glassdoor.com/about-us/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.glassdoor.com/about-us/wp-includes/wlwmanifest.xml" /> 
    <link rel='shortlink' href='https://www.glassdoor.com/about-us/' />
    <link rel="alternate" hreflang="x-default" href="https://www.glassdoor.com/about-us/" title="en_US" />
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <script>
        window.GD = window.GD || {};
    </script>
</head>      
<br>       
<br>    
<br>
<br>   
    <div class="masthead margBotXl" style="background-image: url(https://i.pinimg.com/originals/16/c5/74/16c5746469145d5e83ac6d401da2c7a1.jpg)"></div>  
<div>
    <br>
    <br>
<div style="padding-left: 10%;">
    <form action="/your-name/" method="post" id="inputs" name="myform" onsubmint="return false">
        <legend><h1>New Newsletter</h1></legend>
        <label for="title">Title:</label>
        <br>
        <input type="text" id="subject" name="title" style="max-width: 55%;">
        <br><br>
        <label>This Week</label>
        <br>
        <textarea id = "body" rows = "10" cols = "80"></textarea>
        <br><br>
        <input type="button" value="send" id="btnclick" onclick="processForm()" style="max-width: 100px;">
    </form>
</div>
</div>

{% endblock %} 