{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>
<div class = "container">
    <div class = "row">
        <div class="col-sm-8">
        <h1> My Company Job Postings </h1>
        </div>
         <div class="col-sm-4">
        <a href = "/employer/newjobposting" class = "btn btn-primary"> Create new job posting </a>
        </div>
     </div>
 </div>
{% if postings.count != 0 %}
<div class="card m-3">
    
    {% for jp in postings %}
    <h5 class="card-header">Job Posting - {{jp.title}}</h5>
    <div class="card-body">
        <h5 class="card-title">{{jp.zipcode.city}} {{jp.zipcode.state}}, {{jp.zipcode.code}}</h5>
        <h5 class="card-title"> Applications: {{jp.applicationcount}}</h5>
        <p class="card-text"><b> Description: </b> {{jp.description}}</p>
        <p class="card-text"><b> GPA Requirement: </b> {{jp.gpareq}}</p>
        <p class="card-text"><b> Pay: </b> {{jp.pay}}</p>
        <p class="card-text"><b> Wage Type: </b> {{jp.wagetype}}</p>
        <p class="card-text"><b> Is Public: </b> {{jp.ispublic}}</p>
        <p class="card-text"><b> Relocation Assistance Provided: </b> {{jp.relocationassist }}</p>
        <p class="card-text"><b> Application Opening Date: </b> {{jp.appopendate.date  }}</p>
        <p class="card-text"><b> Application Closing Date: </b> {{jp.appclosingdate.date   }}</p>
        <p class="card-text"><b> Application Deciision Date: </b> {{jp.decisiondate.date  }}</p>
        <p class="card-text"><b> Job Start Date: </b> {{jp.jobstartdate.date   }}</p>
        <p class="card-text"><b> Skills: </b>
        {% for skill in jp.requiredskills.all   %}
        <br>{{skill.name}} 
        {% endfor %}
        </p>
        <p class="card-text"><b> Job Categories: </b>
        {% for category in jp.category.all   %}
        <br>{{category.name}} 
        {% endfor %}
        </p>
        <a href="/employer/editjobposting/{{jp.pk}}" class="btn btn-primary">Edit Job</a>
        <form action="/employer/postings/"  style = "display:inline;" method="post">
            {% csrf_token %}
            <input type="hidden" id="jpid" name="jpid" value="{{jp.pk}}">
            <button type="submit"  class="btn btn-danger" onclick="return confirm('Are you sure?');"> Delete Job </button>
        </form>
    </div>
    {%endfor%}
    <br>
</div>
{% else %}
<br><br><br>
<h2 class='text-center text-secondary'>  No job postings to display  </h2>
<br><br><br>


{% endif %}


{% endblock %}  
     