{% extends 'base.html' %}
{% load static %}
{% block content %}


<header style = "background:url({%static '/img/recruitmentbanner.jpg' %}) no-repeat center center; background-size: cover;" class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="">BLACK CYBER RECRUITING</h1>
          <h4 class=".opacity-2">We make finding a new job a breeze</h4>
        </div>
      </div>
    </div>
  </header>

 <section class="showcase m-5">
    <div class="container-fluid p-0">
      <div class="row ">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({%static  'img/bg-showcase-1.jpg' %});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Everyone deserves a job they love</h2>
          <p class="lead mb-0"> No matter the background, we want you to be able to find a job that you love to come to. We use machine learning to help recommend jobs that are most
          likely to suit your goals. Furthermore we work with employers to set standards that are more accurate indicators of performance rather than the historic standards often used on other websites, such as GPAs. </p>
        </div>
      </div>
      <br>
      <div class="row ">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({%static 'img/bg-showcase-2.jpg' %});"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Never miss an application again!</h2>
          <p class="lead mb-0">We all know the daily rush keeps us busy and usually applying for jobs is the last thing on our minds. Our website combats this, using a calender to track application deadlines, customised newsletters to keep you up to date on possible job oppertunities, and can even apply to jobs automatically in your behalf, using a provided resume.  </p>
        </div>
      </div>
      <br>
      <div class="row ">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({%static  'img/bg-showcase-3.jpg' %});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2> All job applications are straight to the point</h2>
          <p class="lead mb-0"> No one likes to apply for a job where they don't even know how much they will make. This is why we require all job applications to post the salary/wages, include any other compensations, and list if they will provide relocation assistance. </p>
        </div>
      </div>
    </div>
  </section>


<header style = "background:url({%static '/img/pen-masthead.jpg' %}) no-repeat center center; background-size: cover;" class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Find your dream job today! Use our advanced search and resume tools to easily find a job that suits your needs</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" placeholder="Enter a job category; technology, finance, etc.">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

{% endblock %}  
     