{% load static %}
{% load socialaccount %}



   
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        <title>BCR - Home</title>

        <!-- Bootstrap core CSS -->
        <link href= "{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet ">

        <!-- Custom fonts for this template -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        <link href= "{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
        <link href= "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href= "{% static 'css/landing-page.min.css' %}" rel="stylesheet ">

    </head>
    <body>
        
  

  

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                
                <a class="ml navbar-brand" href="/">
                    <img src="{% static 'img/logofull.png'%}" width="172" height="50" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about'%}">About</a>
                    </li>
                    <li class="nav-item">
                                <a class="nav-link" href="/jobpostings">Job Postings</a>
                    </li>
                    {%for g in  user.groups.all %} 
                    
                        {% if g.name == 'employer' %}
                            <!-- Employer nav -->
                             <li class="nav-item">
                                <a class="nav-link" href="/employer/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/employer/postings">My Job Postings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/employer/applications">View Applications</a>
                            </li>
                        {% elif g.name == 'applicant'%}
                            <!-- Applicant nav -->
                            <li class="nav-item">
                                <a class="nav-link" href="/applicant/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/applicant/applications">My Applications</a>
                            </li>
                            
                        {% elif g.name == 'admin'%}
                            <!-- Admin nav -->
                            <li class="nav-item">
                                <a class="nav-link" href="/manage/users">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/manage/applications">Applications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/manage/newsletters">Newsletters</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                    <div class="my-2 my-lg-0">
                        {% if user.is_authenticated %}
                        
                        <p  style = 'display: inline;' class="text-center align-middle"> Welcome {{user.username}}  &nbsp;&nbsp;  </p>
                        <a class="btn btn-primary" style = 'display: inline;' href="/logout">Log Out</a>
                        {% else %}
                        <a class="btn btn-primary inline" href="{% provider_login_url 'google' %}">Sign In</a>
                                    
                        {% endif %}
                     </div>



                </div>
           
        </nav>
        <br>
        <br>
        {% if authenticated != False %}
        {% block content %}
        <!-- Inside content-->
        {% endblock %}
        {% else %}
        <br><br><br><br>
        <p class="text-center"> Error: Not authorized for this page. </p>
        <br><br><br><br><br>
        {% endif %}
       
       
         <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                    <a href="{% url 'about'%}">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                    <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                    <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                    <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Black Cyber Recruiting 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                    <a href="#">
                        <i class="fab fa-facebook fa-2x fa-fw"></i>
                    </a>
                    </li>
                    <li class="list-inline-item mr-3">
                    <a href="#">
                        <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a href="#">
                        <i class="fab fa-instagram fa-2x fa-fw"></i>
                    </a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>