{% extends 'base.html' %}
{% load static %}
{% block content %} 

        <br>
        <br>   
        <div class="masthead " style="background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-geometric-business-atmosphere-texture-banner-background-image_213453.jpg); height: 200px;"></div>   

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="entry-content">
                <br>
                <br> 
                <h2>Our Mission</h2>
<p><span style="font-weight: 400">To help minority groups everywhere find a job and company they love</span></p>
<h2>Our Values</h2>
<p><b>We are transparent. </b><span style="font-weight: 400">We are open and honest. We share information – the good and the bad – so we can continuously learn, collaborate and make the right decisions. </span></p>
<p><b>We are ingenious. </b><span style="font-weight: 400">We actively pursue new and different ways to improve job seekers chances of finding their dream job. We challenge the status quo and believe in succeeding expectations</span></p>
<p><b>We are altruistic. </b><span style="font-weight: 400">We believe in working together respecting one another, showing integrity and having compassion for one another. We are inclusive and look to give all minorities a fair playing field, as we do so we remain humble and also confident.</span></p>
<p style="text-align: left"><b>We are tenacious.</b><span style="font-weight: 400"> We are resilient, resourceful and hardworking. Every challenge we face is seen as an opportunity to become better. With passion and courage, we come together complete our mission.</span></p>
<h2>About Us</h2>
<p><span style="font-weight: 400">Black Cyber Recruiter is an upstart job and recruiting sites.</span></p>
<p><span style="font-weight: 400">Built on the foundation of increasing diversity in th workplace, we offer many of the latest </span><a href={%url '/jobpostings'%}><span style="font-weight: 400">job listings</span></a><span style="font-weight: 400">, <span style="font-weight: 400">. Unlike other job sites, all of this information is shared by those who know a company best — the employees. In turn, job seekers on BCR are well-researched and more informed about the jobs and companies they apply to and consider joining.</span></p>
<p><span style="font-weight: 400"></span></p>
            </div>

            <h2></h2>
        </div>
    </div>
{% endblock %}  
