{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="masthead " style="background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-geometric-business-atmosphere-texture-banner-background-image_213453.jpg); height: 200px;"></div>
<style>
    body {
    text-align: center;
    }

    form {
    display: inline-block;
    } 

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    } 
</style>

</script>
<br><br><br>
<div class = "container">
    <div class = "row">
        <div class="col-sm-8">
        <h1> Company Job Postings </h1>
        </div>
         <div class="col-sm-4">
        
        </div>
     </div>
 </div>
 
{% if postings.count != 0 %}
<div class="accordion" id="accordion">
{% for jp in postings %}
    <div class="card m-3">
        <h5 class="card-header" id="header_{{jp.pk}}">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapse_{{jp.pk}}" aria-expanded="false" aria-controls="#collapse_{{jp.pk}}">
        Job Posting - {{jp.title}} - {{jp.company.companyname}}
        </button>
        </h5>
        <div id="collapse_{{jp.pk}}" class="collapse" aria-labelledby="header_{{jp.pk}}" data-parent="#accordion" >
            <div class="card-body">
                <h5 class="card-title">{{jp.zipcode.city}} {{jp.zipcode.state}}, {{jp.zipcode.code}}</h5>
                <p class="card-text"><b> Description: </b> {{jp.description}}</p>
                <p class="card-text"><b> GPA Requirement: </b> {{jp.gpareq}}</p>
                <p class="card-text"><b> Pay: </b> {{jp.pay}}</p>
                <p class="card-text"><b> Wage Type: </b> {{jp.wagetype}}</p>
                <p class="card-text"><b> Relocation Assistance Provided: </b> {{jp.relocationassist }}</p>
                <p class="card-text"><b> Application Opening Date: </b> {{jp.appopendate.date  }}</p>
                <p class="card-text"><b> Application Closing Date: </b> {{jp.appclosingdate.date   }}</p>
                <p class="card-text"><b> Application Decision Date: </b> {{jp.decisiondate.date  }}</p>
                <p class="card-text"><b> Job Start Date: </b> {{jp.jobstartdate.date   }}</p>
                <p class="card-text"><b> Skills: </b>
                {% for skill in jp.requiredskills.all   %}
                <br>{{skill.name}} 
                {% endfor %}
                </p>
                <p class="card-text"><b> Job Categories: </b>
                {% for category in jp.category.all   %}
                <br>{{category.name}} 
                {% endfor %}
                </p>
                {%for g in  user.groups.all %} 
                    {% if g.name == 'applicant' %}
                        <a href="/applicant/apply/{{jp.pk}}" class="btn btn-primary">Apply for this job</a>
                    {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% else %}
<br><br><br>
<h2 class='text-center text-secondary'>  No job postings to display  </h2>
<br><br><br>


{% endif %}

<br><br><br>

<form id="python" method="GET" action="{% url 'azure_job' %}">
        <td style="text-align: right; padding-left: 33%;padding-top: 2%;"><input type="submit" id="submit_matchbox" name="submit_matchbox" value="Recommend Jobs" onclick="btnclick()"></td>
        <br>
        <td style="padding-top: 10%;">{{matchbox_results}}</td>
</form> 

<div id = "dropdown" style="text-align: right; padding-left: 33%;padding-top: 2%;">
    <br><br>
    <table id="table" style="padding-left: 10%;" >
    <tr>
        <th>ID</th>
        <th>UserName</th>
    </tr>
    <tr>
        <td>2</td>
        <td>adam_e_carter</td>
    </tr>
    <tr>
        <td>3</td>
        <td>alicia_r_coffey</td>
    </tr>
    <tr>
        <td>4</td>
        <td>alyssa_j_belcher</td>
    </tr>
    <tr>
        <td>5</td>
        <td>amanda_g_godfrey</td>
    </tr>
    <tr>
        <td>6</td>
        <td>anne_t_dove</td>
    </tr>
    <tr>
        <td>7</td>
        <td>annie_j_bernard</td>
    </tr>
        <tr>
        <td>8</td>
        <td>annie_j_hays</td>
    </tr>
        <tr>
        <td>9</td>
        <td>antonio_d_braithwaite</td>
    </tr>
        <tr>
        <td>10</td>
        <td>arthur_s_simon</td>
    </tr>
    </table>
</div>

{% endblock %}  
     