{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>

<style>

    body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}


</style>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="col-sm-2">
                    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="150px" class="img-circle" style="margin-left: 40px;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h3>
                                {{user.person.firstname}} {{user.person.lastname}}
                            </h3>
                            <br>
                            <h7> Hirability Score: </h7> <p> 
                            </p><div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{hirability}}%" aria-valuenow=" {{hirability}}" aria-valuemin="0" aria-valuemax="100">  {{hirability}}%</div>
                                 
                            </div> <p class="text-secondary text-sm ml-1" style="font-size:10px"> This predictive value is calculated from your personal information </p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Resumes</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <a href = '/applicant/editprofile/' class = "btn btn-primary"> Edit Profile </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                        <p>JOB CATEGORIES</p>
                    
                        {% for jc in user.person.applicant.interests.all   %}
                        <a href=""> {{jc.name}} </a><br/>
                         {% endfor %}
                </div>
                <div class="profile-work">
                    <p>SKILLS</p>
                     {% for skill in user.person.applicant.skills.all   %}
                       <a href=""> {{skill.name}} </a><br/>
                     {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Username</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.person.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> {{user.person.firstname}} {{user.person.lastname}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Birthdate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.person.birthdate.date}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.person.location.addressline1}} <br> {{user.person.location.addressline2}} <br> 
                 {{user.person.location.zipcode.city}} {{user.person.location.zipcode.state}}, {{user.person.location.zipcode.code}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Recieve Newsletters</label>
                                    </div>
                                    <div class="col-md-6">
<!--Ian this will need to be teh check box--><p>{{user.person.applicant.recievenewsletter}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Mentor</label>
                                    </div>
                                    <div class="col-md-6">
<!--Check for mentor here--><p>{{user.person.applicant.mentor.firstname}} {{user.person.applicant.mentor.firstname}}</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div>
                        <a href = '/applicant/newresume/' class = "btn btn-primary"> Create Resume  </a>
                        
                        </div>
                        <br>
                        <div class="row">
                                
                                
                                <br>
                                {% if resumes.count != 0 %}
                                {% for resume in  resumes %}
                                    <div class="card m-3" style="width:95%">
                                        <div class = "card-header"> 

                                                <h4 style = "display:inline;"> Resume - {{resume.name}}</h4> 
                
                
                   
                                
                                    <form action="/applicant/profile/"  style = "display:inline;" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" id="rid" name="rid" value="{{resume.pk}}"/> 
                                        <button type="submit" onclick="return confirm('Are you sure? This will remove any job applications attached to this resume');"  class="ml-2 p-2 float-right btn btn-danger"> Delete Resume </button>
                                    </form>
                                    <a href = '/applicant/editresume/{{resume.pk}}' class = "float-right btn btn-primary p-2"> Edit Resume  </a>
                                                            
                                    </div>
                                    <div class = "card-body"> 
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapse_{{resume.pk}}" role="button" aria-expanded="false" aria-controls="collapse_{{resume.pk}}">
                                            Toggle Resume
                                        </a>

                                    <div class="collapse" id="collapse_{{resume.pk}}">
                                        <br>
                                        <iframe src="{{resume.resumefile.url}}/" style="width:100%; height:700px;" frameborder="0"></iframe>
                                    </div>
                                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                    <br><br><br>
                                    <h2 class='text-center text-secondary'>  No resumes to display  </h2>
                                    <br><br><br>
                                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

<script> 
    $( document ).ready(function() {
        
        if ({{hirability}}>75){
            $( ".progress-bar").addClass('bg-success');
        
        }
        else if ({{hirability}}>50){
            $( ".progress-bar").addClass('bg-warning');
        }
        else{
            $( ".progress-bar").addClass('bg-danger');
        }
    })
</script>


<br>
<br>




{% endblock %}  
     